div#menusup{
    width: 100%;
    height: 40px;
    background-color:#531253;
}

div#usuariologueado{
    position: absolute;
    right: 0px;
    width: 196px;
    height: 40px;
    text-align: center;
    padding-top: 6px;
    color: beige;
    font-style: italic;
    cursor: pointer;
     
}